[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.60.1"
pandas = "*"
plotly = "==4.9.0"
uvicorn = "==0.11.8"
python-dotenv = "==0.14.0"
psycopg2-binary = "==2.8.6"
ipykernel = "==6.0.0"

[dev-packages]

[requires]
python_version = "3.9"
